@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Zalando Sans Expanded", sans-serif;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
/* page basic style */
/* text */
.text-primary {
    color: #93cb52;
}

/* navbar */
#navbar {
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: lrem;
}
#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}
